Trrp4.Shared/Connected Services/AuthServiceReference/authservice6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Trrp4.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trrp4.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/authservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AccessKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expires" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Key" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessKey" nillable="true" type="tns:AccessKey" />
</xs:schema>