Trrp4.Shared/Connected Services/AuthServiceReference/authservice4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:9001/authservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trrp4.Server" />
  <xs:import schemaLocation="http://127.0.0.1:9001/authservice?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://127.0.0.1:9001/authservice?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Trrp4.Objects" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trrp4.Server" minOccurs="0" name="userInfo" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Trrp4.Server" minOccurs="0" name="userInfo" nillable="true" type="q2:UserInfo" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="chatServer" nillable="true" type="q3:IPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Trrp4.Objects" minOccurs="0" name="AuthResult" nillable="true" type="q4:AccessKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Trrp4.Objects" minOccurs="0" name="accessKey" nillable="true" type="q5:AccessKey" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="chatServer" nillable="true" type="q6:IPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Trrp4.Objects" minOccurs="0" name="GetUsersResult" nillable="true" type="q7:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>