Trrp4.Shared/Connected Services/DispatcherServiceReference/dispatcher4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/dispatcher?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:element name="GetBestChatServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestChatServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="GetBestChatServersResult" nillable="true" type="q1:ArrayOfIPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestAuthServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestAuthServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="GetBestAuthServersResult" nillable="true" type="q2:ArrayOfIPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="GetServerByClientResult" nillable="true" type="q3:IPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>